<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Wishlist</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/_navbar.ejs') %>
    <h1>Add a Wishlist Item</h1>

  <form action="/wishlist" method="POST" enctype="multipart/form-data">
    <div>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" required>
      </div>
      
      <div>
        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>
      </div>
    
      <div>
        <label for="image">Upload Image:</label>
        <input type="file" name="image">
      </div>
    
      <button type="submit">Add Trip</button>
  </form>
</body>
</html>